/* ::root */
:root {
  font-size: 16px;
  --nr-font: ;
  --pr-color: #ff305b;
  --dark-color: #861028;
  --light-color: #ff94aa;
  --txt-pr: #333;
  --txt-grey: #888;
  --txt-dark: #252b33;
  --txt-light: #dee3e4;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* colors */
.pr-color {color:#ff305b}
.drk-color {color:#252b33}
.lt-color {color:#dee3e4}

/* fonts */
.txt-pr {}
.bold {font-weight:bold}
.txt-lt {}